<link rel="stylesheet" href="/static/snowbeer/css/css.css">
<link rel="stylesheet" href="/static/snowbeer/css/index.css">
<link rel="stylesheet" href="/static/snowbeer/css/vd.css">

<script src="/static/snowbeer/js/jquery-1.js"></script>
<script src="/static/snowbeer/js/cookie.js"></script>
{#<script src="/static/snowbeer/js/js.js"></script>#}

<script src="/static/snowbeer/js/pro.js"></script>
<script src="/static/snowbeer/js/swiper.js"></script>
<script src="/static/snowbeer/js/index_banner.js"></script>
<script src="/static/snowbeer/js/ie.js"></script>