  <div id="foot">
    <a href="https://www.snowbeer.com.cn/index.php?r=pro/contact/list">联系我们</a>
    ｜
    <a href="https://www.archfans.com/">雪花纯生古建筑摄影大赛</a>
    ｜
    <a href="http://beian.miit.gov.cn/">京ICP备09059850号-2</a>
    ｜
    <a href="https://www.snowbeer.com.cn/index.php?r=pro/news/info&amp;id=35">廉洁之窗</a>
    <br>
    Copyright © 华润雪花啤酒有限公司
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://beian.miit.gov.cn/">京ICP备09059850号-2</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    技术支持：华润集团信息管理部
  </div>