<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>雪花官网</title>
  <meta charset="UTF-8">
  {% include 'component/depend.html' %}
</head>
<body>
{% include 'component/Nav.html' %}

<link rel="stylesheet" href="/static/snowbeer/css/about.css">
<div id="head">
  <div id="focus">
    <img src="/static/snowbeer/img/68ECF7FE47DC8C4BEA7D058651B965B6.jpg">
  </div>
</div>
<div class="w980" id="main">
  <div id="navleft">
    <div class="bt">
      <h1>关于雪花</h1>
      <h2>About Snow</h2>
    </div>
    <div class="bt_2">
      <span>公司介绍</span>
    </div>
    <ul id="list_left">
      <li>
        <div class="active"
             onclick='javascript:window.location.href="https://www.snowbeer.com.cn/index.php?r=pro/about/recommend"'>
          公司介绍
        </div>
      </li>
      <li>
        <div onclick='javascript:window.location.href="https://www.snowbeer.com.cn/index.php?r=pro/about/history"'>
          公司历史
        </div>
      </li>
      <li>
        <div onclick='javascript:window.location.href="https://www.snowbeer.com.cn/index.php?r=pro/news/list"'>新闻资讯
        </div>
      </li>
    </ul>
  </div>
  <div class="r_main">
    <div class="r_main h30"></div>
    <div class="r_main  ">
      <div id="titl">公司介绍</div>
      <div class="homelink">关于雪花 &gt; <span>公司介绍</span></div>
    </div>
    <div class="r_main h15 line"></div>
    <div class="r_main main">
      <h3 style="margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; text-align: center; line-height: 1.75em; font-weight: normal;">
        <p style="padding: 0px 0px 21px; border: 0px currentColor; border-image: none; text-align: left; color: rgb(63, 58, 58); line-height: 21px; font-family: simsun; font-size: 12px; margin-top: 0px; margin-bottom: 0px; white-space: normal;">
          <span style="text-align: center; color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 12px;"><br></span>
        </p>
        <p style="padding: 0px 0px 21px; border: 0px currentColor; border-image: none; text-align: left; color: rgb(63, 58, 58); line-height: 21px; font-family: simsun; font-size: 12px; margin-top: 0px; margin-bottom: 0px; white-space: normal;"><span
                style="font-family: arial, helvetica, sans-serif; color: rgb(0, 0, 0); font-size: 14px;">华
润雪花啤酒成立于1993年，是一家生产、经营啤酒的全国性的专业啤酒公司，总部位于中国北京。目前华润雪花啤酒在中国经营超过78家啤酒厂，旗下含雪花
啤酒品牌及30多个区域品牌。2018年华润雪花啤酒年产能约2100万千升，总销量达到1128.5万千升，共占有中国啤酒市场约29.6%的份额。</span></p>
        <p style="padding: 0px 0px 21px; border: 0px currentColor; border-image: none; text-align: left; color: rgb(63, 58, 58); line-height: 21px; font-family: simsun; font-size: 12px; margin-top: 0px; margin-bottom: 0px; white-space: normal;">
          <span style="line-height: 1.75em; text-align: center; text-indent: 2em; font-family: arial, helvetica, sans-serif; font-size: 14px; color: rgb(0, 0, 0);">华润雪花继2011年企业总销量突破1000万吨，2013年雪花啤酒品牌销量达到1062万吨后，全国销量连续6年突破双千万千升。</span><span
                style="color: rgb(0, 0, 0);"><span
                style="color: rgb(0, 0, 0); line-height: 1.75em; text-align: center; text-indent: 2em; font-size: 14px;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span
                style="color: rgb(0, 0, 0); text-indent: 2em; line-height: 1.75em; text-align: center;"> </span><span
                style="color: rgb(0, 0, 0); text-indent: 2em; font-family: 宋体, SimSun;"><span
                style="color: rgb(0, 0, 0); line-height: 1.75em; text-align: center;">&nbsp;</span><span
                style="color: rgb(0, 0, 0); line-height: 1.75em; text-align: center; font-size: 16px;"> &nbsp;</span></span><span
                style="color: rgb(0, 0, 0); text-indent: 2em; line-height: 1.75em; text-align: center; font-family: sans-serif; font-size: 16px;">&nbsp;</span></span><span
                style="text-indent: 2em; line-height: 1.75em; text-align: center; font-family: sans-serif; font-size: 16px;"> &nbsp; &nbsp; &nbsp; &nbsp;</span>
        </p></h3>
      <ul class=" list-paddingleft-2" style="list-style-type: circle;">
        <li>
          <h3 style="margin: 0px; padding: 0px; border: 0px currentcolor; text-align: center; line-height: 1.75em; font-weight: normal;">
            <span style="color: rgb(0, 112, 192); font-size: 24px;"><strong>关于雪花啤酒</strong></span></h3></li>
      </ul>
      <p><span style="font-family: 宋体, SimSun; font-size: 18px;"></span></p>
      <hr>
      <p style="line-height: 1.5em; text-align: left;"><span
              style="font-family: 宋体, SimSun; font-size: 18px;"></span><span
              style="text-indent: 2em; font-size: 14px; font-family: 微软雅黑, ">1964年，中国啤酒权威云集的产品评比会上，一种新产品击败中国所有的老牌啤酒。此啤酒因其泡沫丰富洁白如雪，口味持久溢香似花，遂命名为“雪花啤酒”。</span>
      </p>
      <p style="line-height: 1.5em; text-align: left;"><span
              style="text-indent: 2em; font-size: 14px; font-family: 微软雅黑, ">2002年，华润雪花啤酒有限公司全力将雪花啤酒塑造成为全国品牌，雪花啤酒一直以清新、淡爽的口感，进取、挑战、创新的品牌个性深受到全国消费者的普遍喜爱，成为深受当代年轻人喜爱的啤酒品牌。</span>
      </p>
      <p style="line-height: 1.5em; text-align: left;"><span
              style="text-indent: 2em; font-size: 14px; font-family: 微软雅黑, ">2003年1月，被辽宁省工商行政管理局评定为辽宁省著名商标。</span></p>
      <p style="line-height: 1.5em; text-align: left;"><span
              style="text-indent: 2em; font-size: 14px; font-family: 微软雅黑, ">2005年至2013年，雪花啤酒连续九年蝉联中国啤酒行业单品销量前三。</span>
      </p>
      <p style="line-height: 1.5em; text-align: left;"><span
              style="text-indent: 2em; font-size: 14px; font-family: 微软雅黑, ">2013年雪花品牌价值达735.36亿元，荣获中国行业企业信息发布中心颁发的2013年度消费者信赖品牌，雪花啤酒成为中国成长飞速、品牌价值提升卓越的啤酒品牌。</span>
      </p>
      <p style="line-height: 1.5em; text-align: left;"><span
              style="text-indent: 2em; font-size: 14px; font-family: 微软雅黑, "><br></span></p>
      <hr>
      <p style="line-height: 1.5em; text-align: center;"><br></p>
      <p style="line-height: 1.5em;"><span style="text-indent: 2em; font-size: 14px; font-family: 微软雅黑, "><br></span>
      </p>
      <p style="line-height: 1.5em; text-align: center;"><img src="/static/snowbeer/img//1544578434616817.png"
                                                              title="1544578434616817.png" alt="图片1.png" width="145"
                                                              height="469"></p>
      <hr>
      <p><br></p>
      <ul class=" list-paddingleft-2" style="list-style-type: circle;">
        <li><h3 style="margin: 0px; padding: 0px; border: 0px currentcolor; text-align: center; font-weight: normal;">
          <span style="font-family: arial, helvetica, sans-serif; color: rgb(0, 112, 192); font-size: 24px;"><strong>雪花使命</strong></span>
        </h3></li>
      </ul>
      <p style="text-align: center;"><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;"><br></span></p>
      <p style="line-height: normal; margin-bottom: 5px; text-align: center;"><span
              style="color: rgb(0, 112, 192); font-size: 20px;"><strong><span
              style="color: rgb(0, 112, 192); font-family: arial, helvetica, sans-serif;">引领产业发展,酿造美好生活</span></strong></span>
      </p>
      <p style="line-height: normal; margin-bottom: 5px; text-align: center;"><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;"><br></span></p>
      <p style="line-height: normal; margin-bottom: 5px; text-align: center;"><span
              style="font-size: 18px;"><strong><span
              style="font-family: arial, helvetica, sans-serif; color: rgb(0, 112, 192);">引领产业发展</span></strong></span>
      </p>
      <p style="line-height: normal; margin-bottom: 5px; text-align: center;"><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px;">在技术进步、产品质量、品牌塑造、管理创新等方面全方位成为行业标杆，引领产业发展。</span>
      </p>
      <p style="text-align: center; line-height: normal; margin-bottom: 5px;"><br></p>
      <p style="line-height: normal; margin-bottom: 5px; text-align: center;"><span
              style="color: rgb(0, 112, 192); font-size: 18px;"><strong>酿造美好生活</strong></span></p>
      <p style="line-height: normal; margin-bottom: 5px; text-align: center;"><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px;">为消费者提供超越期望的产品与体验，为员工打造事业家园，为合作伙伴提升价值，为股东创造回报，为环境和社会带来绿色和谐发展，激发和满足人们对美好生活的需求。</span>
      </p>
      <p style="text-align: center; line-height: normal; margin-bottom: 5px;"><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <hr>
      <p style="text-align: center; line-height: normal; margin-bottom: 5px;"><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px;"></span><br></p>
      <ul class=" list-paddingleft-2" style="list-style-type: circle;">
        <li><p style="text-align: center; line-height: normal; margin-bottom: 5px;"><span
                style="font-size: 24px; color: rgb(0, 112, 192);"><strong><span
                style="font-size: 24px; font-family: arial, helvetica, sans-serif;">雪花愿景</span></strong></span></p></li>
      </ul>
      <p style="text-align: start; line-height: normal; margin-bottom: 5px;"><strong style="text-align: center;"><span
              style="font-family: 宋体; font-size: 14px;"><br></span></strong></p>
      <p style="text-align: center; line-height: normal; margin-bottom: 5px;"><span
              style="font-size: 20px;"><strong><span
              style="font-family: arial, helvetica, sans-serif; color: rgb(0, 112, 192);">成为消费者信赖、员工自豪、行业领先的国际化酿酒企业。</span></strong></span>
      </p>
      <p style="text-align: start; line-height: normal; margin-bottom: 5px;"><br></p>
      <p style="text-align: start; line-height: normal; margin-bottom: 5px;"><br></p>
      <p style="text-align: center;"><span style="font-size: 16px; color: rgb(0, 112, 192);"><strong><span
              style="font-size: 16px; font-family: arial, helvetica, sans-serif;">消费者信赖</span></strong></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">信赖企业、信赖品牌、信赖产品</span>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><span style="color: rgb(0, 112, 192); font-size: 16px;"><strong><span
              style="color: rgb(0, 112, 192); font-family: arial, helvetica, sans-serif;">员工自豪</span></strong></span>
      </p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">企业自豪感、品牌自豪感、团队自豪感</span>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><span style="font-size: 16px; color: rgb(0, 112, 192);"><strong><span
              style="font-size: 16px; font-family: arial, helvetica, sans-serif;">行业领先</span></strong></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">引导市场趋势、引领行业标准、践行社会责任</span>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><span style="font-size: 16px; color: rgb(0, 112, 192);"><strong><span
              style="font-size: 16px; font-family: arial, helvetica, sans-serif;">国际化酿酒企业</span></strong></span></p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">市场国际化：建立全球性的市场网络。在全球范围内打造强大的产品竞争力。</span>
      </p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">品牌国际化：形成全球化的品牌影响力。</span>
      </p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">组织国际化：管理理念与组织模式接轨国际。组建适应国际市场竞争的人才队伍。</span>
      </p>
      <p><br></p>
      <p style="text-align: start; line-height: normal; margin-bottom: 5px;"><span
              style="font-size: 16px; font-family: arial, helvetica, sans-serif;"></span></p>
      <hr>
      <p><br></p>
      <p><span style="font-family: arial, helvetica, sans-serif; color: rgb(247, 150, 70);"><strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 18px;"><br></span></strong></span></p>
      <ul class=" list-paddingleft-2" style="list-style-type: circle;">
        <li><p style="text-align: center;"><span
                style="font-family: arial, helvetica, sans-serif; font-size: 24px; color: rgb(0, 112, 192);"><strong><span
                style="font-size: 24px; font-family: arial, helvetica, sans-serif;">雪花精神</span></strong></span></p>
          <p><strong style="text-align: center;"><span
                  style="font-family: 宋体, SimSun; font-size: 14px;"></span></strong></p>
          <p><strong style="text-align: center;"><span
                  style="font-family: 宋体, SimSun; font-size: 14px;"></span></strong></p></li>
      </ul>
      <p><br></p>
      <p style="text-align: center;"><strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 20px; color: rgb(0, 112, 192);">每一个人都不简单&nbsp;每一瓶酒才放光彩。</span></strong>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;"><br></span></p>
      <p style="line-height: 150%; margin: 0pt 0in; direction: ltr; unicode-bidi: embed; word-break: normal; text-align: center;">
        <span style="font-variant-numeric: normal; font-variant-east-asian: normal; letter-spacing: 0pt; vertical-align: baseline; font-family: arial, helvetica, sans-serif; font-size: 14px;">每一瓶雪花啤酒背后，都有一群兢兢业业，将工作做到极致、做到尽善尽美的人；员工有成就，团队有成绩，每一瓶雪花啤酒焕发光芒。</span>
      </p>
      <p style="line-height: 150%; margin: 0pt 0in; direction: ltr; unicode-bidi: embed; word-break: normal;"><span
              style="font-variant-numeric: normal; font-variant-east-asian: normal; letter-spacing: 0pt; vertical-align: baseline; font-family: arial, helvetica, sans-serif; font-size: 14px;"></span>
      </p>
      <p><br></p>
      <p style="line-height: 150%; margin: 0pt 0in; direction: ltr; unicode-bidi: embed; word-break: normal;"><span
              style="font-variant-numeric: normal; font-variant-east-asian: normal; letter-spacing: 0pt; vertical-align: baseline; font-family: arial, helvetica, sans-serif; font-size: 14px;"></span>
      </p>
      <p style="text-align: center;"><span style="color: rgb(0, 112, 192); font-size: 18px;"><strong><span
              style="color: rgb(0, 112, 192); font-family: arial, helvetica, sans-serif;">员工价值</span></strong></span>
      </p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp;<strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px; color: rgb(0, 112, 192);">勤奋</span></strong></span>
      </p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">勤奋是不怕吃苦，艰苦奋斗，认认真真，努力干好每一件事情。遇到困难，只能前进，不能后退；遇到障碍，只能攀登，不能停留。</span>
      </p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><br></span></p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><img
              src="/static/snowbeer/img//1545719301776637.png" title="1545719301776637.png" alt="image.png"></span></p>
      <p style="text-align: left;"><span style="font-size: 19px; font-family: Calibri, sans-serif;"><br></span></p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"></span></p>
      <p style="text-align: center;"><span
              style="font-size: 14px; font-family: arial, helvetica, sans-serif;">&nbsp;<span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;"> &nbsp; <strong><span
              style="font-family: arial, helvetica, sans-serif; color: rgb(0, 112, 192);">&nbsp;专业</span></strong></span></span>
      </p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">每个雪花人都应成为自己所在领域的专家。唯有专业，雪花才能引领产业发展，才能不断创造新高度。</span>
      </p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><br></span></p>
      <p style="text-align: center;"><br></p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><img
              src="/static/snowbeer/img//1545719340140042.png" title="1545719340140042.png" alt="image.png"><br></span>
      </p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"></span></p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px; color: rgb(0, 112, 192);"><strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;">成长</span></strong></span></p>
      <p><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px; color: rgb(0, 112, 192);"><strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;"><br></span></strong></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">成长是胸怀、智慧、本领不断提升的过程，是通过永不停歇的努力，使今天的自己强于昨天的自己，从普通的人成长为杰出的雪花人。</span>
      </p>
      <p style="text-align: center;"><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><img
              src="/static/snowbeer/img//1545719423247432.png" title="1545719423247432.png" alt="image.png"></span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"></span></p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>
      </p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><br></span></p>
      <p style="text-align: center;"><span style="color: rgb(0, 112, 192);"><strong>组织氛围</strong></span></p>
      <p style="text-align: center;"><span style="color: rgb(0, 112, 192);"></span><br></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp; &nbsp; &nbsp; 五湖四海：雪花人来自五湖四海，去向五湖四海，信念一致，目标一致，以开放的心态包容多元的观点。</span>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><img
              src="/static/snowbeer/img//1545719475755896.png" title="1545719475755896.png" alt="image.png"></span></p>
      <p><br></p>
      <p><br></p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp; <strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px; color: rgb(0, 112, 192);">&nbsp;学习反思</span></strong></span>
      </p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px; color: rgb(0, 112, 192);"><br></span></strong></span>
      </p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">不断学习，借鉴一切有价值的方法和工具，从业务中来到业务中去，将学习成果转化为业务结果；不断反思，勇于自我否定，敢于颠覆传统，探索新路径。</span>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><img
              src="/static/snowbeer/img//1545719508636397.png" title="1545719508636397.png" alt="image.png"></span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p><br></p>
      <p><br></p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp; <span
              style="font-size: 14px; font-family: arial, helvetica, sans-serif; color: rgb(0, 112, 192);"><strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;">简单坦诚</span></strong></span></span></p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><span
              style="font-size: 14px; font-family: arial, helvetica, sans-serif; color: rgb(0, 112, 192);"><strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;"><br></span></strong></span></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">每一个雪花人都坚信雪花的方向，知晓奋斗目标，阳光做事，坦诚沟通。</span>
      </p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><img
              src="/static/snowbeer/img//1561529466685496.png" title="1561529466685496.png"
              alt="1561529383(1).png"></span></p>
      <p style="text-align: center;"><br></p>
      <p style="line-height: 1.5em;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">&nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp;&nbsp;</span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><br></p>
      <p><br></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span><br></p>
      <p style="text-align: center;"><span style="font-size: 16px;"><strong><span
              style="font-family: arial, helvetica, sans-serif; color: rgb(0, 112, 192);">经营理念</span></strong></span><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p><span style="font-size: 16px;"><strong><span
              style="font-family: arial, helvetica, sans-serif; color: rgb(0, 112, 192);"><br></span></strong></span>
      </p>
      <p style="text-align: center;"><span style="font-family: 宋体; font-size: 14px;">&nbsp;</span><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px;">客户为先：满足并创造消费需求，完善企业与合作伙伴共同发展的平台，实现多赢。</span>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><img
              src="/static/snowbeer/img//1545719646851383.png" title="1545719646851383.png" alt="image.png"></span></p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><br></span></p>
      <p><br></p>
      <p><br></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><span
              style="font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; </span><span
              style="font-family: arial, helvetica, sans-serif; font-size: 14px; color: rgb(0, 112, 192);"><strong><span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;">持续进步</span></strong></span></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><span
              style="font-size: 14px; font-family: arial, helvetica, sans-serif;">不满足过往成绩，不断设立更具挑战的目标，付诸行动，实现从优秀到卓越。</span></span>
      </p>
      <p><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><span
              style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><br></span></span></p>
      <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 14px;"><span
              style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><img
              src="/static/snowbeer/img//1545719682114894.png" title="1545719682114894.png"
              alt="image.png"></span></span></p>
      <p><br></p>
      <p><br></p>
      <p><br></p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">&nbsp; &nbsp; &nbsp; <span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px;"><strong>&nbsp;<span
              style="font-family: arial, helvetica, sans-serif; font-size: 16px; color: rgb(0, 112, 192);">创造价值</span></strong></span></span>
      </p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;">做有价值的事，生产有价值的产品，塑造高价值的品牌，务实高效的实现雪花的使命与愿景。</span>
      </p>
      <p><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><br></span></p>
      <p style="text-align: center;"><span style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><img
              src="/static/snowbeer/img//1545719717117360.png" title="1545719717117360.png" alt="image.png"></span></p>
      <p style="text-align: center;"><span
              style="font-size: 14px; font-family: arial, helvetica, sans-serif;"><br></span></p>
      <p><br></p>
      <p><br></p><!--            <h3>关于华润雪花啤酒（中国）有限公司</h3>-->
      <!--            <p>华润雪花啤酒（中国）有限公司成立于1994年，是一家生产、经营啤酒的全国性的专业啤酒公司。总部设于中国北京。其股东是华润创业有限公司和SABMiller。目前华润雪花啤酒在中国经营超过95家啤酒厂，旗下含雪花啤酒品牌及30多个区域品牌，共占有中国啤酒市场23%的份额。2013年华润雪花啤酒销量达到1172万千升，公司总产销量连续八年遥遥领先国内其他啤酒企业。2013年雪花啤酒品牌销量达到1062万千升，连续九年全国第一，成为中国首个销量超千万千升的啤酒品牌，巩固了其作为全球领先啤酒品牌的地位。</p>-->
      <!--            <h3>关于雪花啤酒</h3>-->
      <!--            <p>1964年，中国啤酒权威云集的产品评比会上，一种新产品击败中国所有的老牌啤酒，夺得第一。此啤酒因其泡沫丰富洁白如雪，口味持久溢香似花，遂命名为“雪花啤酒”。</p>-->
      <!--            <p>2002年，华润雪花啤酒（中国）有限公司全力将雪花啤酒塑造成为全国品牌，雪花啤酒一直以清新、淡爽的口感，进取、挑战、创新的品牌个性深受到全国消费者的普遍喜爱，成为当代年轻人最喜爱的啤酒品牌。</p>-->
      <!--            <p>2007年9月，国家工商行政管理总局商标局认定“雪花”商标为“中国驰名商标”。</p>-->
      <!--            <p>2005年至2013年，雪花啤酒连续九年蝉联中国啤酒行业单品销量第一的桂冠。2013年雪花品牌价值达735.36亿元，荣获中国行业企业信息发布中心颁发的2013年度消费者最信赖品牌，雪花啤酒成为中国成长最快、最具价值的啤酒品牌。</p>-->
      <!--            <h3>关于华润创业有限公司</h3>-->
      <!--            <p>华润创业有限公司于香港聯合交易所挂牌，为香港恒生指數成份股之一。本集团专注于 中国内地及香港的消费品业务，包括零售、啤酒、食品及饮品业务。 </p>-->
      <!--            <h3>关于SABMiller plc</h3>-->
      <!--            <p>SABMiller是世界上最大的啤酒公司之一，在伦敦和约翰内斯堡股票市场分别上市，总部设在英国伦敦。SABMiller从事着大规模的啤酒和其他饮料的生产和销售，业务遍及世界六大洲，在75个国家里拥有一百多个啤酒厂，两百多个啤酒品牌，年啤酒销量达2180万吨。SABMiller的生产管理在国际上享有很高的声誉，并被认为是非常善于在新兴市场运作的公司。在许多进入的国家中，SABMiller的品牌组合和市场份额都处于领导地位。</p>-->
    </div>
  </div>
  <div class="r_main h30"></div>
</div>
<script>
  var win_h = $(window).height();
  var cc = win_h - 75 - 298
  if ($('#main').height() < cc) {
    $('#main').height(cc)
  }

</script>
<!--end-Footer-part-->
<div id="bottom">
  <div id="foot">
    <a href="https://www.snowbeer.com.cn/index.php?r=pro/contact/list">联系我们</a> 　｜ 　<a href="https://www.archfans.com/">雪花纯生古建筑摄影大赛</a>
    　｜ 　<a href="http://beian.miit.gov.cn/">京ICP备09059850号-2</a> 　｜ 　<a
          href="https://www.snowbeer.com.cn/index.php?r=pro/news/info&amp;id=35">廉洁之窗</a>
    <!--        <a href="our.html" target="_blank">联系我们</a> 　｜　-->
    <!--        <a href="">雪花纯生古建筑摄影大赛</a>　｜　-->
    <!--        <a href="http://www.snowycty.com/"  target="_blank">雪花勇闯天涯</a>　｜　-->
    <!--        <a href="soc.html" target="_blank" >雪花中国古建筑</a>-->
    <br>Copyright © 华润雪花啤酒有限公司&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://beian.miit.gov.cn/">京ICP备09059850号-2</a>&nbsp;&nbsp;&nbsp;&nbsp;技术支持：华润集团信息管理部
  </div>
</div>


</body>
</html>