<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>雪花官网</title>

  {% include 'component/depend.html' %}
</head>
<body>
{% include 'component/Nav.html' %}

<div id="index_er" style="top: 1648px;"></div>

<div id="head">
  <div id="focus">
    <ul style="left: -2560px; width: 3840px;">
      <li>
        <div class="btnBg">
          <em><span>有华润多美好！</span></em>
        </div>
        <a href="/">
          <img src="/static/snowbeer/img/128358F2C2278F613FEBFD6514576DFB.jpg" width="1280" height="520">
        </a>
      </li>
      <li>
        <div class="btnBg">
          <em><span>勇闯天涯superX 生而无畏</span></em>
        </div>
        <a href="http://www.snowycty.com/">
          <img src="/static/snowbeer/img/03AD4EC679DF5405F827CF0F80306C2D.jpg" width="1280" height="520">
        </a>
      </li>
      <li>
        <div class="btnBg"><em><span>食刻有匠心</span></em></div>
        <a href="/">
          <img src="/static/snowbeer/img/A296A5CAD49F4C2CE434A9B6F4AFC4A6.jpg" width="1280" height="520"></a>
      </li>
    </ul>
  </div>
</div>

<div class="line w980">
  <div id="index_left">
    <div class="tit_index line">
      <span>企业动态</span>
    </div>
    <div class="box">
      <ul id="newlist">
        <li>
          <div class="list_namedate">
            <span class="nametit">业绩发布| 华润啤酒2019年净利增34.3%，中高档销量增8.8%</span>
            <span class="namedate">2020-03-20</span>
          </div>
          <div class="text_main">
            <img src="/static/snowbeer/img/262B92287CB25A6572D05BE798AF9C7F.jpg">
            <p>
              <span style="font-size: 12px; font-family: 宋体, SimSun; text-align: justify; background-color: rgb(247, 246, 244);"></span>
              <span style="font-family: 宋体, SimSun; color: rgb(0, 0, 0); font-size: 12px;">
                <span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; text-align: justify; background-color: rgb(247, 246, 244);">
                  香港，2020年3月20日华润啤酒（控股）有限公司（港交所股份代号：00291）（本公司，连同其附属公司，统称本集团）今天宣布其截至2019年12月31日止已审核之全年业绩。本集团于2019年的综合营业额为人民币
                </span>
                <span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; margin: 0px; padding: 0px; text-align: justify; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;">
                  <strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;">33,190,000,000元</strong>
                </span>
                <span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; text-align: justify; background-color: rgb(247, 246, 244);">，按年</span>
                <span style="color: rgb(0, 0, 0); font-family: 宋体, SimSun; margin: 0px; padding: 0px; text-align: justify; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;">
                  <strong style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; word-wrap: break-word !important;">增长4.2%</strong>
                </span>
              </span>
            </p>
            <p>
              <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box; letter-spacing: 0px; font-family: 宋体, SimSun; font-size: 14px; overflow-wrap: break-word !important;"></span>
            </p>
            <a href="https://www.snowbeer.com.cn/index.php?r=pro/news/info&amp;id=53">了解更多 &gt;</a></div>
        </li>
        <li>
          <div class="list_namedate"><span class="nametit">心系武汉 共抗疫情 | 华润雪花啤酒捐赠1500万元助力抗击新型冠状病毒</span><span
                  class="namedate">2020-02-01</span></div>
          <div class="text_main"><img src="/static/snowbeer/img/8A49FB004F728B7BC522814278E02C0E.jpg">
            <p><span
                    style="text-align: justify; background-color: rgb(247, 246, 244); font-size: 12px; font-family: 宋体, SimSun;">抗击新型冠状病毒疫情，全国万众同心。2020年2月1日，华润雪花啤酒（中国）有限公司向武汉市和武汉市东西湖区政府相关慈善机构捐赠1500万元，用于采购口罩、消毒液、护目镜、呼吸机等疫情应急物资,帮助医护人员更加安全地救治病患。</span>
            </p><a href="https://www.snowbeer.com.cn/index.php?r=pro/news/info&amp;id=52">了解更多 &gt;</a></div>
        </li>
        <li>
          <div class="list_namedate"><span class="nametit">勇闯天涯superX联合X Games，共同开启冰雪新纪元</span><span class="namedate">2020-01-12</span>
          </div>
          <div class="text_main"><img src="/static/snowbeer/img/47A095A23FCDBF0EC9A57737DBA0F2C1.jpg">
            <p><span
                    style="font-size: 12px; font-family: 宋体, SimSun;">2020年1月12日，勇闯天涯superX首席赞助的首届X Games中国冬季赛正式官宣。</span>
            </p><a href="https://snowbeer.com.cn/index.php?r=pro/news/info&amp;id=51">了解更多 &gt;</a></div>
        </li>
        <li>
          <div class="list_namedate"><span class="nametit">官宣|拉维邦黑啤正式上市 释放无限黑色能量</span><span
                  class="namedate">2020-01-09</span></div>
          <div class="text_main"><img src="/static/snowbeer/img/0CC88A67B411EA6D570FFBC2A2DDB73F.jpg">
            <p><span style="font-size: 12px; font-family: 宋体, SimSun;">2020年1月9日，雪花啤酒旗下又一高端个性化产品——拉维邦黑啤正式上市。</span></p>
            <a href="https://snowbeer.com.cn/index.php?r=pro/news/info&amp;id=50">了解更多 &gt;</a></div>
        </li>
        <li>
          <div class="list_namedate"><span class="nametit">荣耀的背后，是重复一万次的坚守</span><span class="namedate">2019-11-1</span>
          </div>
          <div class="text_main"><img src="/static/snowbeer/img/1E07A2F87FA3F4FFF339B88A998CBAC1.jpg">
            <p><span style="font-family: 宋体, SimSun; font-size: 12px;">《简单 酿造不凡》雪花文化宣传片正式发布，最真实的雪花人第一次站到了镜头前。</span></p>
            <a href="http://snowbeer.com.cn/index.php?r=pro/news/info&amp;id=48">了解更多 &gt;</a></div>
        </li>
      </ul>

    </div>
  </div>
  <div id="index_right">
    <div class="tit_index line" onclick="javascript:window.location.href='/activity/adv'" style="cursor: pointer;">
      <span>精彩视频</span><img src="/static/snowbeer/img/index_jt.png" class="index_jt">
    </div>

    <div id="move">
      <div muted="true" autoplay="true" loop="true" preload="auto" data-setup="{}"
           class="video-js vjs-paused video_s-dimensions vjs-controls-enabled vjs-workinghover vjs-user-inactive"
           id="video_s">
        <video id="video_s_html5_api" class="vjs-tech" data-setup="{}" preload="auto" loop="" autoplay="autoplay"
               muted="muted" src="/static/snowbeer/img/12804AD547F2CA358355D6005D09C571.mp4">
          <source src="/static/snowbeer/video/12804AD547F2CA358355D6005D09C571.mp4" type="video/mp4">
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
    </div>

    <div id="icons">
      <ul>
        <li>
          <div onclick='javascript:window.location.href="http://www.crc.com.cn/other/group/"'><img
                  src="/static/snowbeer/img/E90A95D7965EAC89EBCB4A4340BDEFFF.jpg"><span>华润网群</span></div>
        </li>
        <li>
          <div onclick='javascript:window.location.href="/index.php?r=pro/news/list"'><img
                  src="/static/snowbeer/img/A346C5B91BCF38688C23B5DC03C98139.jpg"><span>新闻资讯</span></div>
        </li>
        <li style="margin-right: 0px;">
          <div onclick='javascript:window.location.href="/index.php?r=pro/activity/act"'><img
                  src="/static/snowbeer/img/B81EAF0D79D09770A033190D8989C925.jpg"><span>精彩活动</span></div>
        </li>
        <li>
          <div onclick='javascript:window.location.href="/index.php?r=pro/about/recommend"'><img
                  src="/static/snowbeer/img/4DDBA79F1D35F668D9036E4366BCCC41.jpg"><span>公司介绍</span></div>
        </li>
        <li>
          <div onclick='javascript:window.location.href="/index.php?r=pro/product/list"'><img
                  src="/static/snowbeer/img/8D45E48EBF37F21B7E187781CF81AF0B.jpg"><span>雪花产品</span></div>
        </li>
        <li style="margin-right: 0px;">
          <div onclick='javascript:window.location.href="/index.php?r=pro/job/list"'><img
                  src="/static/snowbeer/img/BA28A173FCA6B9111F04C1773E2F3A1C.jpg"><span>招贤纳士</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="w980 h30"></div>
<div class="w980">
  <ul id="bottomicon">
    <li class="wx0">
      <div onclick='javascript:window.location.href="javascript:;"'>
        <img src="/static/snowbeer/img/FECE3183D0E529D4D041B4ABEB61A694.jpg">
        <span>雪花啤酒勇闯天涯</span></div>
    </li>
    <li class="wx1" style="padding-right: 22px;">
      <div onclick='javascript:window.location.href="http://weibo.com/yongchuangtianya "'>
        <img src="/static/snowbeer/img/341891C077EDE7F0F534D4EC180EE83B.jpg">
        <span>勇闯天涯官方微博</span>
      </div>
    </li>
    <li class="wx2">
      <div onclick='javascript:window.location.href="http://weibo.com/xuehuagujianzhu"'>
        <img src="/static/snowbeer/img/EBC95F0BA5FD086B3AAE4799F56F26B1.jpg">
        <span>雪花匠心营造</span>
      </div>
    </li>
    <li class="wx3" style="padding-right: 22px;">
      <div onclick='javascript:window.location.href="http://mall.jd.com/index-105708.html"'>
        <img src="/static/snowbeer/img/210E1904DC5C4F63F0C6F49A7474899F.jpg">
        <span>京东官方旗舰店</span>
      </div>
    </li>
    <li class="wx4">
      <div onclick='javascript:window.location.href="https://snowbeer.tmall.com/search.htm"'>
        <img src="/static/snowbeer/img/74A9A1D5EF935DF1EB026C2A7B132A25.jpg">
        <span>天猫官方旗舰店</span>
      </div>
    </li>
  </ul>
</div>

<script src="/static/snowbeer/js/vds.js"></script>
<script>
  var player = videojs('video_s', { /* Options */}, function () {
    console.log('Good to go!');

    this.play(); // if you don't trust autoplay for some reason

    // How about an event listener?
    this.on('ended', function () {
      console.log('awww...over so soon?');
    });
  });
  var hh = $('#index_left').height() > $('#index_right').height() ? $('#index_left').height() : $('#index_right').height()
  $('#index_er').css('top', (hh + 550 - 113))

  $('.wx0').bind('mouseenter', function () {
    $('#index_er').show();
  })
  $('.wx0>div').bind('click', function () {
    return false;
  })
  $('.wx0').bind('mouseleave', function () {
    $('#index_er').hide();
  })

  $('#icons li').each(function (i, li) {
    if (i % 3 == 2) {
      $(this).css('margin-right', 0)
    }
  })
  $('#bottomicon li').each(function (i, li) {
    if (i == 1 || i == 3) {
      $(this).css('padding-right', 22)
    }
    if (i == 6) {
      $(this).css('padding-right', 02)
    }
  })
</script>

<!--end-Footer-part-->
<div id="bottom">
{% include 'component/Footer.html' %}
</div>

</body>
</html>